
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* { 
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}*/

/* acima é a fonte do google fonts */
/* menu pra mover abaixo */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 1100px;
  margin-top: -50px;
  font-family: 'poppins', sans-serif;
}
  
.menu li {
  float: left;
}
  
.menu li a {
  display: flex;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}
  
.menu li a:hover {
  background-color: rgb(9, 73, 9);
  border-radius: 50px;
  color: white;
}
.mn{
  margin: auto;
  margin-left: 85px;
}

.mn:hover{
  filter: opacity(70%);
}
 

.conteudo {
  position: relative; 
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textoPrincipal {
  position: relative;
  max-width: 600px;
  margin-left: 70px;
  margin-top: 100px;
}
 .textoPrincipal h2 {
  color:#333;
  font-size: 2.5em;
  Line-height: 1.5em;
  font-weight: 500;
}

 .textoPrincipal h2 span {
  color: #047127;
  font-weight: bolder;
  font-size: 1.2em;
  
}

.textoPrincipal p {
  color: #333;

}

 .textoPrincipal a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #017143;
  color:#fff;
  border-radius: 40px;
  font-family: 'poppins', sans-serif;
  font-weight: 500;
  Letter-spacing: 1px;
  text-decoration: none;
}

 .textoPrincipal a:hover{
  background-color: black;
  color:#FFF;
  border-radius: 40px;
  font-weight: 500;
  Letter-spacing: 1px;
  text-decoration: none;
}

.imgbox{
  display: flex;
  align-items: right;
  justify-content: right;
  padding-right: 50px;
  padding-top: 50px ;
  transition: 1s;
  transform: scale(0) translateY(0);
}

.starbucks {
  position: absolute;
  justify-content: right;
  margin-left: 1000px;
  margin-top: -350px;
  height: 500px;
  transition: 1s;
}

.conteudo .imgbox img{
  max-width: 340px;
  position: absolute;
}


.sorvetes{
 list-style: none;
 display: flex;
 margin-top: 550px;
 margin-right: 650px;
  transform: translateX(-50%);
}

.sorvetes li:hover{
  transform: translateY(-15px);
}

.sorvetes li img {
  max-width: 60px;
}

.sociais {
  position: absolute;
  top: 70%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  flex-direction:column ;
  align-items: center;
}

.sociais li {
  list-style: none;
  
}

.sociais li a {
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.6);
  filter: invert(1);
}
.sociais li a:hover{
  filter: invert(0);
}
.circulo {

  position: absolute;
  background-color: #017143;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(600px at right 800px);
  transition: 1s;
  
}
.starbucks:hover{
  transform: scale(1.1) translateY(-10px);
  transition: 1s;
}
.selected {
        transform: scaleX(-1);
        
}